[submodule "01_42_piscine"]
	path = 42_piscine
	url = https://github.com/RogerioLS/42_piscine.git
[submodule "02_teste-envio-42"]
	path = teste-envio-42
	url = https://github.com/RogerioLS/teste-envio-42.git
