[submodule "42_piscine"]
	path = 42_piscine
	url = https://github.com/RogerioLS/42_piscine.git
[submodule "teste-envio-42"]
	path = teste-envio-42
	url = https://github.com/RogerioLS/teste-envio-42.git
[submodule "42SP"]
	path = 42SP
	url = https://github.com/RogerioLS/42SP.git
